@import "tailwindcss";

@theme {
  --color-brand-50: #f4ebff;
  --color-brand-500: #aa3bff;
  --color-brand-600: #8e1be0;
  --color-brand-700: #6e0fb0;
}

html, body, #root {
  height: 100%;
  margin: 0;
}
